.main__chat
 .__group.info
  .__left
   .__box
    = @group.name
   .__box2
    - @group.users.each do |user|
     = user.name

  .edit__btn
   = link_to edit_group_path(@group) do
    = "Edit"
   


 .mainlist
  .messages
   = render @messages
    

 .mainform
  = form_for [@group, @message] do |f|
   .textform
    = f.text_field :content,class:'form__message',placeholder:'type a message'
    = f.label :image, class: 'form__mask__image' do
     = icon('fas', 'image', class: 'icon')
    = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'